body{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1e2d3b;
    color: #fff;
}
main{ 
    flex-grow:1;
}

.reloj {
    text-align: center;
    background: rgba(36, 39, 221, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(32, 54, 155, 0.5);
}
.reloj .fecha {
    font-size: 40px;
    margin-bottom: 5px;
}
.reloj .hora {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.reloj .hora .ampm {
    font-size: 20px;
    margin-left: 5px;
    align-self: flex-end;
}